<div class="comment-container">
    <div class="upper-container">
        <div class="left-part-align">
            <img src="../../../assets/images/circle-8.png" alt="">
            <div class="data-align">
                <div class="personal-data">{{ name }}</div>
                <div class="rating">Rating {{ rating }}</div>
            </div>
        </div>
        <div class="rating">Given on : {{ date }}</div>
    </div>
    <div class="comment-content">
        {{ comment }}
    </div>
    <hr>
    
</div>
