<div class="box">
    <div class="default-box">
        <div class="black-text">{{ programTitle }}</div>
        <div class="black-text">{{ programPrice }}</div>
    </div>
    <div class="acreds">
        <div class="greyed-text"> {{ greyedText }}</div>
        <div class="black-text">{{ blackText }}</div>
    </div>
    <div class="cal">
        <div class="greyed-text"> {{ from }}</div>
        <div class="black-text">{{ fromDate }}</div>
        <div class="greyed-text"> {{ to }}</div>
        <div class="black-text">{{ toDate }}</div>
    </div>
    <div class="black-text">{{ programDescription }}</div>    
</div>