<div class="row-direction" [formGroup]=searchGroup>
        <div class="left-sidebar">
            <div class="left-content-container-bar">
                <div class="filters">
                    <img src="../../../../assets/images/Icon 7.svg" alt="" class="filter-pic"> Filters
                </div>
                <div class="ind-text">
                    Ind. Day Rate
                </div>
                <div class="range-bar">
                    <span class="circle"></span>
                    <span class="range-bar-color"></span>
                    <span class="range-bar-grey"></span>
                    <span class="circle"></span>
                </div>
                <div class="money-range">
                    <div class="dollar-range">0$ - 529$</div>
                    <div class="all-offers-range">(8, 543)</div>
                </div>
                    <img class="line" src="../../../../assets/images/Line 3.svg" alt="">
                <div class="courses-filter-container">
                    <div class="courses-text">Courses
                        <img class="filter-arrow-down" src="../../../../assets/images/angle-up-arrow.svg" alt="">
                    </div>
                    <div class="search-input-bar">
                        <input nz-input placeholder="Search Courses...">
                        <img class="search" src="../../../../assets/images/Icon 2.svg" alt="">
                    </div>
                    <div class="checkbox-filters">
                        <div class="checkbox-filter-value">
                            <div class="box"></div>4 Dimensions Fram... <span class="num">(2)</span>
                        </div>
                        <div class="checkbox-filter-value">
                            <div class="box"></div>A4Q Design Thinkin... <span class="num">(8)</span>
                        </div>
                        <div class="checkbox-filter-value">
                            <div class="box"></div>A4Q Selenium Teste... <span class="num">(6)</span>
                        </div>
                        <div class="checkbox-filter-value">
                            <div class="box"></div>Agile Shift <span class="num">(6)</span>
                        </div>
                        <div class="checkbox-filter-value">
                            <div class="box"></div>Agile Advanced Pra... <span class="num">(8)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="right-part">
        <div class="class-wrapper">
            <div class="rating-bar-left">
                <div class="ind-day-rate">
                    Ind. Day Rate
                    <img class="sorting-arrows" src="../../../../assets/images/sort.svg" alt="">
                </div>
                <div class="rating">
                    Rating
                    <img class="sorting-arrows" src="../../../../assets/images/sort.svg" alt="">
                </div>
        </div>
        <div class="search-filter-bar">
            <input nz-input placeholder="Search in Instructors..." formControlName="search">
            <img class="search" src="../../../../assets/images/Icon 2.svg" alt="">
        </div>
    </div>

        <div class="filter-tags">
            <div class="tag">DASA<img class="cross" src="../../../../assets/images/times.svg" alt=""></div>
            <div class="tag">Filter 2 is longer<img class="cross" src="../../../../assets/images/times.svg" alt=""></div>
            <div class="tag">Another Filter<img class="cross" src="../../../../assets/images/times.svg" alt=""></div>
            <div class="tag">eBook<img class="cross" src="../../../../assets/images/times.svg" alt=""></div>
            <div class="filter-results">XXX Results</div>
            <img class="clear-filter-img" src="../../../../assets/images/clear-filter.svg" alt="">
        </div>

        <app-instructor-details-box></app-instructor-details-box>

</div>
</div>
